<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h3 th:text="${titulo}"></h3>
<span th:text="${usuario.nombre}"></span>
<span th:text="${usuario.apellido}"></span>
<span th:if="${usuario.email}" th:text="${usuario.email}"></span><br/>
<span th:if="${usuario.email == null}" th:text="'El usuario no tiene correo'"></span>
</body>
</html>